<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags %}
{% load i18n future mezzanine_tags accounts_tags %}
{% blog_recent_posts 5 as recent_posts %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/nivo-slider.css" %}">

        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>

        <script src="{% static "js/jquery.nivo.slider.js" %}"></script>
        <script src="{% static "js/csrf.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "18654956-fa7e-4cb2-98ed-60d22479014b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">



<div class=" navbar navbar-default navbar-fixed-top top_menu " role="navigation">
    <div class="container">
        <div class="col-lg-4 col-md-5 col-sm-7 col-xs-12"><img class="pull-left" src="{% static 'theme/images/logo.png' %}" alt="{{ settings.SITE_TITLE }}" />
            <p class="navbar-brand"><a class="logo_title" href="/">{{ settings.SITE_TITLE }}</a></p></div>
        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs search_panel">
            {% search_form %}
        </div>

        <div class="col-lg-offset-2 col-lg-3 col-md-3 col-sm-5 col-xs-12 auth">
            {% if request.user.is_authenticated %}
                <span class="xs_or">Welcome,</span> <a class="update_lnk" href="{% url "profile_update" %}">{{ request.user|username_or:"email" }}</a>  <a class="logout_lnk" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="reg_lnk" href="{% url 'signup' %}">Registration</a> <span class="xs_or">or</span> <a class="login_lnk" href="{% url "login" %}?next={{ request.path }}">login</a>
            {% endif %}

            <div class="small_menu">
                <a class="menu-bar col-sm-12 col-xs-12" data-toggle="collapse" href="#menu">
                    <button class="navbar-toggle">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#                    <span class="glyphicon glyphicon-align-justify xs_menu"></span>#}
                </a>
                <div class="collapse menu xs_menu_items" id="menu">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'bookrepo_list' %}">Top Books</a></li>
                        <li><a href="{% url 'haystack_search' %}">Discover</a></li>
                        <li><a href="{% url 'bookrepo_subject_list' %}">Category</a></li>
                        <li><a href="{% url 'bookreading' %}">Reading</a></li>
                        <li><a href="{% url 'bookhistory' %}">History</a></li>
                        <li><a href="{% url 'bookfavorite_page' %}">Favorite reads</a></li>
                        <li><a href="{% url 'mybookshelf' %}">Your Shelves</a></li>
                        <li><a href="{% url 'bookshelf' %}">Create a Shelf</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-full">

    {% nevercache %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endnevercache %}

    {#    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs hidden-sm left_side_menu">#}
    <div class="col-md-2 hidden-xs hidden-sm left_side_menu">
        <h2>Browse</h2>
        <ul>
            <li><a href="{% url 'bookrepo_list' %}"><img src="{% static 'img/side_menu_tb.png' %}" alt=""/>Top books</a></li>
            <li><a href="{% url 'haystack_search' %}"><img src="{% static 'img/side_menu_disc.png' %}" alt=""/>Discover</a></li>
            <li><a href="{% url 'bookrepo_subject_list' %}"><img src="{% static 'img/side_menu_cat.png' %}" alt=""/>Category</a></li>
        </ul>
        <hr/>
        {% if request.user.is_authenticated %}
            <h2>Your books</h2>
            <ul>
                <li><a href="{% url 'bookreading' %}"><img src="{% static 'img/side_menu_read.png' %}" alt=""/>Reading</a></li>
                <li><a href="{% url 'bookfavorite_page' %}"><img src="{% static 'img/side_menu_fav.png' %}" alt=""/>Favorite reads</a></li>
                <li><a href="{% url 'bookhistory' %}"><img src="{% static 'img/side_menu_hist.png' %}" alt=""/>History</a></li>
            </ul>
            <hr/>
            <h2>Shelves</h2>
            <ul>
                <li><a href="{% url 'mybookshelf' %}"><img src="{% static 'img/side_menu_shlv.png' %}" alt=""/>Your shelves</a></li>
            </ul>
            <a class="create_shelf" href="{% url 'bookshelf' %}">Create a Shelf</a>
        {% endif %}
    </div>

    {#    <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-1 center_content">#}
    <div class="col-md-8 center_content">
        <div>
            {% block main %}{% endblock %}
        </div>
    </div>
    <div class="col-md-2 right_side_menu">
        <h2>Recent Posts</h2>
        {% for recent_post in recent_posts %}
            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a> <br/>
        {% endfor %}
    </div>
</div>
<div class="clearfix"></div>
<footer>
    <div class="container">
        <div class="row">
            <p class="site-info text-center">
                &copy; 2015 Sikh National Archives of Canada
                <span class="separator">|</span>
                Site by <a href="http://paulwhippconsulting.com" alt="Paul Whipp Consulting">PWC</a>
            </p>
        </div>
    </div>
</footer>
{% include "includes/footer_scripts.html" %}

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>

</body>
</html>