<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags %}
{% load i18n future mezzanine_tags accounts_tags %}
{% blog_recent_posts 5 as recent_posts %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        {% if theme == 'default' %}
            <link rel="stylesheet/less" type="text/css" href="{% static "less/main.less" %}"/>
        {% elif theme == 'orange' %}
            <link rel="stylesheet/less" type="text/css" href="{% static "less/orange.less" %}"/>
        {% elif theme == 'green' %}
            <link rel="stylesheet/less" type="text/css" href="{% static "less/green.less" %}"/>
        {% endif %}
        <link rel="stylesheet" href="{% static "css/nivo-slider.css" %}">
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">

        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "js/less.min.js" %}"></script>
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        <script src="{% static "js/jquery.nivo.slider.js" %}"></script>

        <script src="{% static "audiojs/audio.min.js" %}"></script>
        <script src="{% static "js/eldarion-ajax.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.diyslider.min.js' %}"></script>

    {% block extra_head %}{% endblock %}
</head>

<body>
    {{ block.super }}

    <div class=" navbar navbar-default navbar-fixed-top top-menu" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-11 logo">
                    <div class="logo-img hidden-xs"></div>
                    <div class="visible-xs col-xs-3"><img src="{{ STATIC_URL }}img/theme/small_logo.png" alt=""/></div>
                    <div class="logo-title col-xs-8"><a href="/">{{ settings.SITE_TITLE }}</a></div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 pull-right hidden-xs auth">
                    <a href="{% url 'donate_extended' %}" class="donate-button">donate</a>
                    <div class="sign">
                        {% if request.user.is_authenticated %}
                            <a href="{% url "dashboard" %}">Hello, {{ request.user|username_or:"email" }}</a>|<a href="{% url 'logout' %}">logout</a>
                        {% else %}
                        <a href="{% url 'signup' %}">Sign up</a> or
                        <a href="{% url "login" %}?next={{ request.path }}">Sign in</a>
                        {% endif %}
                    </div>
                </div>

                <div style="position: absolute; top: 0; width: 100%;">
                    <div class="visible-xs col-xs-3 pull-right xs-menu">
                        <a id="collapse_xs_menu_on" href="#collapse_xs_menu">
                            <img src="{{ STATIC_URL }}img/theme/burger.png" alt=""/>
                        </a>
                    </div>
                    <div class="" id="collapse_xs_menu" style="display: none; position: fixed; height: 100%; overflow-y: scroll; top: 65px;">
                        <div class="col-xs-12 xs-menu-items" style="min-height: 100%;">
                            <a class="book-lnk" href="{% url 'bookrepo_list' %}">E-Books</a>
                            <a class="mag-lnk" href="">Magazines</a>
                            <a class="video-lnk" href="{% url 'all_videos' %}">Videos</a>
                            <a class="audio-lnk" href="{% url 'all_audios' %}">Audios</a>
                            <a class="cat-lnk" href="{% url 'bookrepo_subject_list' %}">category</a>
                            <a class="search-lnk" href="{% url 'haystack_search' %}">Search Inside books</a>
                            <a class="signup-lnk" href="{% url 'signup' %}">SIGN UP</a>
                            <a class="signin-lnk"  href="{% url "login" %}?next={{ request.path }}">SIGN IN</a>
                        </div>
                        <div class="col-xs-12 xs-menu-donate" style="min-height: 120px;">
                            <a class="donate-lnk" href="{% url 'donate_extended' %}">DONATE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="mainpage-slider">
        <div class="container">
            <div class="row">
                {% block main %}{% endblock %}
            </div>
        </div>
    </section>

    <section>
        <div class="red-footer hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-9 footer-menu">
                        <ul>
                            <li><a href="{% url 'bookrepo_list' %}">top books</a></li>
                            <li><a href="{% url 'haystack_search' %}">discover</a></li>
                            <li><a href="{% url 'bookrepo_subject_list' %}">category</a></li>
                            <li><a href="/about/">about project</a></li>
                            <li><a href="/blog/">what's new</a></li>
{#                            <li>feedback</li>#}
                            <li><a href="/get-in-touch/">contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="black-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-8 col-sm-offset-2 col-sm-9">
                        SIKH NATIONAL ARCHIVES OF CANADA  ©  ALL RIGHTS RESERVED
                    </div>
                </div>
            </div>
        </div>
    </section>


{% include "includes/footer_scripts.html" %}

</body>
</html>