{% extends "pages/richtextpage.html" %}
{% load staticfiles mezzanine_tags %}

{% block meta_title %}Sikh National Archives of Canada{% endblock %}
{% block title %}Sikh National Archives of Canada{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">Home</li>
{% endblock %}

{% block main %}
    {{ block.super }}
    <h2>Recent scans</h2>
    {% for book in recent_scans %}
        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}">
        <img style="margin: 10px;" src="{{ book.cover_thumbnail_url }}" alt="{{ book.title }} cover image" />
        </a>
    {% endfor %}
{% endblock %}
