{#{% extends "pages/richtextpage.html" %}#}
{% extends 'base.html' %}
{% load staticfiles mezzanine_tags %}

{% block meta_title %}Sikh National Archives of Canada{% endblock %}
{% block title %}Sikh National Archives of Canada{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">Home</li>
{% endblock %}

{% block main %}

    {#  recent scans  #}
    <section class="mainpage-slider">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs main-menu">
                    <span class="grey-color">browse:</span>
                    <a class="book-lnk" href="{% url 'bookrepo_list' %}">e-books</a>
                    <a class="mag-lnk" href="">magazines</a>
                    <a class="doc-lnk" href="">documents</a>
                    <a class="video-lnk" href="{% url 'all_videos' %}">videos</a>
                    <a class="audio-lnk" href="{% url 'all_audios' %}">audios</a>
                    <hr class="c-hr"/>
                    <a class="cat-lnk" href="{% url 'bookrepo_subject_list' %}">category</a>
                    <a class="search-lnk" href="{% url 'haystack_search' %}">search inside books</a>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-9 mainpage-element">
                    <div class="nivoSlider slider index-slider" id="slider">
                        {% for slide in slides %}
                            <img src="{{ MEDIA_URL }}{{ slide.image }}" alt=""/>
                        {% endfor %}
                    </div>
                    <div class="search-field">
                        <div class="search-filter visible-lg visible-md">
                            <ul>
                                <li class="active">ebooks</li>
                                <li>magazines</li>
                                <li>videos</li>
                                <li>audios</li>
                                <li>pictures</li>
                                <li>documents</li>
                                <li>all</li>
                            </ul>
                        </div>
                        <div class="search-input">
                            {% search_form 'bookrepo.Book'%}
{#                            {% search_form %}#}
                        </div>
                        <div class="search-links hidden-xs">
{#                            <a href="">Classic catalog</a>#}
                            <a href="">Advanced Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-lg">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT SCANS</h1>
                <div class="more"><a href="{% url 'bookrepo_list' %}">more scans</a></div>
                <div class="clearfix"></div>

                {# Slider navigation #}
                <div class="book-slider-nav">
                    <a href="javascript:void(0)" id="go-left" class="go-left">
                        <img src="{{ STATIC_URL }}img/theme/arrow_left.png" alt=""/>
                    </a>
                    <a href="javascript:void(0)" id="go-right" class="go-right">
                        <img src="{{ STATIC_URL }}img/theme/arrow_right.png" alt=""/>
                    </a>
                </div>
                {# End Slider navigation #}

                <div class="book-slider">
                    <div>
                        {% for book in recent_scans %}
                            <div class="col-lg-2 col-md-2 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-md">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT SCANS</h1>
                <div class="more"><a href="{% url 'bookrepo_list' %}">more scans</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-md">
                    <div>
                        {% for book in recent_scans|slice:":6" %}
                            <div class="col-lg-2 col-md-2 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-sm">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT SCANS</h1>
                <div class="more"><a href="{% url 'bookrepo_list' %}">more scans</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-sm">
                    <div>
                        {% for book in recent_scans|slice:":4" %}
                            <div class="col-lg-2 col-md-2 col-sm-3 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-xs">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT SCANS</h1>
                <div class="more"><a href="{% url 'bookrepo_list' %}">more scans</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-xs1">
                    <div>
                        {% for book in recent_scans|slice:":2" %}
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {#  ebooks  #}
    <section class="scans visible-lg">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT e-books</h1>
                <div class="more"><a href="{% url 'books_by_type' book_type='Book' %}">more books</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-nav">
                    <a href="javascript:void(0)" id="go-left-ebooks" class="go-left">
                        <img src="{{ STATIC_URL }}img/theme/arrow_left.png" alt=""/>
                    </a>
                    <a href="javascript:void(0)" id="go-right-ebooks" class="go-right">
                        <img src="{{ STATIC_URL }}img/theme/arrow_right.png" alt=""/>
                    </a>
                </div>

                <div class="book-slider-ebooks">
                    <div>
                        {% for book in ebooks %}
                            <div class="col-lg-2 col-md-2 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-md">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT e-books</h1>
                <div class="more"><a href="{% url 'books_by_type' book_type='Book' %}">more books</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-md">
                    <div>
                        {% for book in ebooks|slice:":6" %}
                            <div class="col-lg-2 col-md-2 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-sm">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT e-books</h1>
                <div class="more"><a href="{% url 'books_by_type' book_type='Book' %}">more books</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-sm">
                    <div>
                        {% for book in ebooks|slice:":4" %}
                            <div class="col-lg-2 col-md-2 col-sm-3 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scans visible-xs">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT e-books</h1>
                <div class="more"><a href="{% url 'books_by_type' book_type='Book' %}">more books</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-xs1">
                    <div>
                        {% for book in ebooks|slice:":2" %}
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% if magazines %}
        <section class="scans visible-lg">
            <div class="container">
                <div class="row">
                    <hr class="c-hr"/>
                    <h1>RECENT magazines</h1>
                    <div class="more"><a href="{% url 'books_by_type' book_type='Magazine' %}">more magazines</a></div>
                    <div class="clearfix"></div>

                    <div class="book-slider-nav">
                        <a href="javascript:void(0)" id="go-left-mags" class="go-left">
                            <img src="{{ STATIC_URL }}img/theme/arrow_left.png" alt=""/>
                        </a>
                        <a href="javascript:void(0)" id="go-right-mags" class="go-right">
                            <img src="{{ STATIC_URL }}img/theme/arrow_right.png" alt=""/>
                        </a>
                    </div>

                    <div class="book-slider-mags">
                        <div>
                            {% for book in magazines %}
                                <div class="col-lg-2 col-md-2 book">
                                    {% if book.thumbnail_url %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover == 'no_cover.jpg' %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                            {#                                <div>{{ book.title }}</div>#}
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            {% if book.cover %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                                <div>{{ book.title }}</div>
                                            {% else %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                                <div class="no-cover-title">{{ book.title }}</div>
                                                <div>{{ book.title }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="scans visible-md">
            <div class="container">
                <div class="row">
                    <hr class="c-hr"/>
                    <h1>RECENT magazines</h1>
                    <div class="more"><a href="{% url 'books_by_type' book_type='Magazine' %}">more magazines</a></div>
                    <div class="clearfix"></div>

                    <div class="book-slider-md">
                        <div>
                            {% for book in magazines|slice:":6" %}
                                <div class="col-lg-2 col-md-2 book">
                                    {% if book.thumbnail_url %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover == 'no_cover.jpg' %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                            {#                                <div>{{ book.title }}</div>#}
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            {% if book.cover %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                                <div>{{ book.title }}</div>
                                            {% else %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                                <div class="no-cover-title">{{ book.title }}</div>
                                                <div>{{ book.title }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="scans visible-sm">
            <div class="container">
                <div class="row">
                    <hr class="c-hr"/>
                    <h1>RECENT magazines</h1>
                    <div class="more"><a href="{% url 'books_by_type' book_type='Magazine' %}">more magazines</a></div>
                    <div class="clearfix"></div>

                    <div class="book-slider-sm">
                        <div>
                            {% for book in magazines|slice:":4" %}
                                <div class="col-lg-2 col-md-2 col-sm-3 book">
                                    {% if book.thumbnail_url %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover == 'no_cover.jpg' %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                            {#                                <div>{{ book.title }}</div>#}
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            {% if book.cover %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                                <div>{{ book.title }}</div>
                                            {% else %}
                                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                                <div class="no-cover-title">{{ book.title }}</div>
                                                <div>{{ book.title }}</div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="scans visible-xs">
        <div class="container">
            <div class="row">
                <hr class="c-hr"/>
                <h1>RECENT magazines</h1>
                <div class="more"><a href="{% url 'books_by_type' book_type='Magazine' %}">more magazines</a></div>
                <div class="clearfix"></div>

                <div class="book-slider-xs1">
                    <div>
                        {% for book in magazines|slice:":3" %}
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 book">
                                {% if book.thumbnail_url %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt="" width="142" height="232"/></a>
                                    <div>{{ book.title }}</div>
                                {% else %}
                                    {% if book.cover == 'no_cover.jpg' %}
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt="" width="142" height="232"/></a>
                                        {#                                <div>{{ book.title }}</div>#}
                                        <div>{{ book.title }}</div>
                                    {% else %}
                                        {% if book.cover %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""  width="142" height="232"/></a>
                                            <div>{{ book.title }}</div>
                                        {% else %}
                                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/theme/book_cover.png" alt=""  width="142" height="232"/></a>
                                            <div class="no-cover-title">{{ book.title }}</div>
                                            <div>{{ book.title }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="scans">
        <div class="container">
            <div class="row media">
                <hr class="c-hr"/>
                <h1>RECENT videos</h1>
                <div class="more"><a href="{% url 'all_videos' %}">more videos</a></div>
                <div class="clearfix"></div>

                {% for video in videos %}



                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 videos">
                        <iframe src="https://player.vimeo.com/video/{{ video.link }}?color=7a1315&title=0&byline=0&portrait=0" width="100%" height="192" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{#                        <a href="{% url 'video_detail' video_id=video.id %}"><img src="{{ STATIC_URL }}img/theme/video.jpg" alt=""/></a>#}
                        <div><a class="video_link" href="{% url 'video_detail' video_id=video.id %}">{{ video.title }}</a></div>
                        <div class="description">{{ video.description }}</div>
                    </div>

                    <div class="modal fade" id="{{ video.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="scans">
        <div class="container">
            <div class="row media">
                <hr class="c-hr"/>
                <h1>RECENT Audios</h1>
                <div class="more"><a href="{% url 'all_audios' %}">more audios</a></div>
                <div class="clearfix"></div>

                {% for audio in audios %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 audios">
                        <div>
                            <audio src="{{ MEDIA_URL }}{{ audio.mp3 }}" preload="auto" />
                        </div>
                        <div><a href="{% url 'audio_detail' audio_id=audio.id %}">{{ audio.title }}</a></div>
                        <div class="description">{{ audio.description }}</div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

    <script>
        $(document).ready(function(){
            $(".book-slider").diyslider({
                width: "1170", // width of the slider
                height: "292px", // height of the slider
                display: 6, // number of slides you want it to display at once
                loop: false // disable looping on slides
            }); // this is all you need!

// use buttons to change slide
            $("#go-left").bind("click", function(){
                // Go to the previous slide
                $(".book-slider").diyslider("move", "back");
            });
            $("#go-right").bind("click", function(){
                // Go to the previous slide
                $(".book-slider").diyslider("move", "forth");
            });

            $(".book-slider-ebooks").diyslider({
                width: "1170px", // width of the slider
                height: "232px", // height of the slider
                display: 6, // number of slides you want it to display at once
                loop: false
            });
            $("#go-left-ebooks").bind("click", function(){
                // Go to the previous slide
                $(".book-slider-ebooks").diyslider("move", "back");
            });
            $("#go-right-ebooks").bind("click", function(){
                // Go to the previous slide
                $(".book-slider-ebooks").diyslider("move", "forth");
            });

            $(".book-slider-mags").diyslider({
                width: "1170px", // width of the slider
                height: "292px", // height of the slider
                display: 6, // number of slides you want it to display at once
                loop: false
            });
            $("#go-left-mags").bind("click", function(){
                // Go to the previous slide
                $(".book-slider-mags").diyslider("move", "back");
            });
            $("#go-right-mags").bind("click", function(){
                // Go to the previous slide
                $(".book-slider-mags").diyslider("move", "forth");
            });
        });
    </script>
{% endblock %}
