{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block meta_title %}{{ book.title }}{% endblock meta_title%}
{% block title %}{{ book.title }}{% endblock title%}
{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div align="center">
                {% if book.cover %}
                    <img src="{{ MEDIA_URL }}{{ book.cover }}" alt="{{ book.title }} cover image" />
                {% else %}
                    <div class="book_cover">
                        <p>{{ book.title }}
                            <br/>
                            <br/>

                        <b>{{ book.creator }}</b>
                        </p>

                        <img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/>
                    </div>
                {% endif %}

                <hr>
                {% if book.scanned or book.ebook %}
                    <p><a href="{% url 'bookreader' book_identifier=book.identifier page_num=book.scanned_start_page %}" class="btn btn-success">Read now</a></p>
                {% endif %}
                <p><a class="btn btn-success" href="{% url 'page' slug='borrowing' %}">Borrow now</a></p>
            </div>
        </div>
        <div class="col-md-9">
            <h1>{{ book.title }}</h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Creator</th>
                    <td>{{ book.creator }}</td>
                </tr>
                <tr>
                    <th>Published</th>
                    <td>{{ book.published }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ book.content|safe }}</td>
                </tr>
                <tr>
                    <th>Pages</th>
                    <td>{{ book.pages }}</td>
                </tr>
                <tr>
                    <th>Copies</th>
                    <td>{{ book.num_copies }}</td>
                </tr>
                <tr>
                    <th>Scanned</th>
                    <td>{% if book.scanned %}Yes{% else %}Not yet{% endif %}</td>
                </tr>
                <tr>
                    <th>Ebook</th>
                    <td>{% if book.ebook %}Yes{% else %}Not yet{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}