{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block meta_title %}Book List{% endblock meta_title%}
{% block title %}Book List{% endblock title%}
{% block main %}

    {#        {% for subject in subjects %}#}
    {#            <h1>{{ subject }}</h1>#}
    {#            {% for book in subject.book_set.all|slice:":10" %}#}
    {#                {{ book }}<br/>#}
    {#            {% endfor %}#}
    {#        {% endfor %}#}

    {% for subject in subjects %}
        <div style="height: 290px; position:relative;">
            <h1>{{ subject }}</h1>
            <div class="category">
                {% for book in subject.book_set.all|slice:":7" %}
                    <div class="single_book_category">
                        {% if book.thumbnail_url %}
                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt=""/></a>
                        {% else %}
                            {% if book.cover == 'no_cover.jpg' %}
                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/></a>
                                <div class="no_cover_title">
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}">{{ book.title }}</a> <br/> <br/>
                                    <b>{{ book.creator }}</b>
                                </div>
                            {% else %}
                                {% if book.cover %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt="" width="127" height="192"/></a>
                                {% else %}
                                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/></a>
                                    <div class="no_cover_title">
                                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}">{{ book.title }}</a> <br/> <br/>
                                        <b>{{ book.creator }}</b>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    <div class="category_book_title">{{ book.title }}</div>
                    <div class="category_book_creator">{{ book.creator }}</div>
                    </div>
                    <a href="{% url 'bookrepo_subject_detail' subject_identifier=book.subject.id %}" class="category_read_more">See more</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}




    {#    <div class="all_books">#}
    {#        {% for book in books %}#}
    {#            <div class="single">#}
    {#                <div>#}
    {#                    {% if book.cover %}#}
    {#                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt=""/></a>#}
    {#                    {% else %}#}
    {#                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/></a>#}
    {#                    {% endif %}#}
    {#                </div>#}
    {#                <div class="all_books_title">#}
    {#                    {{ book.title|slice:'50'}} <br/>#}
    {#                </div>#}
    {#                <div class="all_books_author">{{ book.published }}</div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}

    {% pagination_for books %}
{% endblock main%}