{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block meta_title %}{{ book.title }}{% endblock meta_title%}
{% block title %}{{ book.title }}{% endblock title%}
{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div align="center">

                {% if book.thumbnail_url %}
                    <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ book.thumbnail_url }}" alt=""/></a>
                {% else %}
                    {% if book.cover == 'no_cover.jpg' %}
                        <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/></a>
                        <div class="no_cover_title detail">
                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}">{{ book.title }}</a> <br/> <br/>
                            <b>{{ book.creator }}</b>
                        </div>
                    {% else %}
                        {% if book.cover %}
                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ MEDIA_URL }}{{ book.cover }}" alt="" width="127" height="192"/></a>
                        {% else %}
                            <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}"><img src="{{ STATIC_URL }}img/cover-green.jpg" alt=""/></a>
                            <div class="no_cover_title detail">
                                <a href="{% url 'bookrepo_detail' book_identifier=book.identifier %}">{{ book.title }}</a> <br/> <br/>
                                <b>{{ book.creator }}</b>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <hr>
                {% if book.scanned or book.ebook %}
                    <p><a href="{% url 'bookreader' book_identifier=book.identifier page_num=book.scanned_start_page %}" class="btn btn-success">Read now</a></p>
                {% endif %}
                <p><a class="btn btn-success" href="{% url 'page' slug='borrowing' %}">Borrow now</a></p>
                <div class="favorite_book">
                    {% if request.user.is_authenticated %}
                        {% if favorite %}
                            <span class="small">Book in your <a href="{% url 'bookfavorite_page' %}">favorites</a></span>
                        {% else %}
                            <a class='' href="/bookreader/{{ book.identifier }}/favorite/"> <span class="glyphicon glyphicon-star"></span> Add to Favorites</a>
                        {% endif %}
                        <div style="width: 100px; padding-top: 20px;">
                            {% if usershelves %}
                                <span class="small">Book in your <a href="{% url 'mybookshelf' %}">shelf</a></span>
                            {% else %}
                                {% if bookshelves %}
                                    <form action="{% url 'add_book_bookshelf'  %}" method="post">
                                        {% csrf_token %}
                                        <label class='small' for="selectshelf">Add this book to your bookshelf:</label>
                                        <select id="selectshelf" name="selectshelf" class="form-control">
                                            {% for bs in bookshelves %}
                                                <option value="{{ bs.id }}">{{ bs }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="book" value="{{ book.id }}"/>
                                        <button class="btn btn-xs btn-success">Add book</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if reported %}
                            <p class="small">Thanks for the report!</p>
                        {% else %}
                            <form action="{% url 'bookrepo_report' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="book" value="{{ book.id }}">
                                <button type="submit" class="btn btn-xs btn-danger" id="report"><span class="glyphicon glyphicon-warning-sign"></span> report a problem</button>
                            </form>
                        {% endif %}

                    {% endif %}
                </div>





            </div>
        </div>
        <div class="col-md-9">
            <h1>{{ book.title }}</h1>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Creator</th>
                    <td>{{ book.creator }}</td>
                </tr>
                <tr>
                    <th>Published</th>
                    <td>{{ book.published }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ book.content|safe }}</td>
                </tr>
                <tr>
                    <th>Pages</th>
                    <td>{{ book.pages }}</td>
                </tr>
                <tr>
                    <th>Copies</th>
                    <td>{{ book.num_copies }}</td>
                </tr>
                <tr>
                    <th>Scanned</th>
                    <td>{% if book.scanned %}Yes{% else %}Not yet{% endif %}</td>
                </tr>
                <tr>
                    <th>Ebook</th>
                    <td>{% if book.ebook %}Yes{% else %}Not yet{% endif %}</td>
                </tr>

                </tbody>
            </table>
            <div>
                <span class='st_facebook' displayText='Share'></span>
                <span class='st_twitter' displayText='Tweet'></span>
                <span class='st_googleplus' displayText='Google +'></span>
                <span class='st_fblike' displayText='Facebook Like'></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Customer Reviews</h1>

            {% if reviews %}
                {% for review in reviews %}
                    <div class="review">
                        <div class="stars_{{ review.rating }}"></div>
                        <div class="reviews_headline">{{ review.headline }}</div>
                        <div class="reviews_author">By {{ review.user }} in {{ review.added }}</div>
                        <div>{{ review.review }}</div>
                    </div>
                {% endfor %}

            {% else %}
                There is no reviews yet
            {% endif %}

            <div>
                <a class="btn btn-default" href="{% url 'review' book_identifier=book.identifier %}">Write a review</a>
            </div>

        </div>
    </div>

    {#    <script>#}
    {#                $(document).ready(function(){#}
    {#                    $('#favorite').on('click', function(e){#}
    {#                        e.preventDefault();#}
    {#                        $.ajax({#}
    {#                            type: "POST",#}
    {#                            url: '/bookreader/favorite/' + $(this).data('id') + '/',#}
    {#                            data: {'favorite': $(this).data('id')},#}
    {#                            dataType: 'json',#}
    {#                            success: function (data){#}
    {#                                alert('ok');#}
    {#                            }#}
    {#                        });#}
    {#                    });#}
    {#                })#}
    {#    </script>#}

{% endblock main %}