{% extends 'base_donation.html' %}
{% block content %}

    <section>
    <form action="{% url 'donate_customer' %}" method="post" id="donation_customer_form">

    {% if form.amount.errors %}
        <div class="alert alert-danger col-lg-10 col-md-10">
            <p>We are unable to charge your card. Reason: </p>
            <p>{{ form.amount.errors.as_text }}</p>
            <p>Please update your <a href="{% url 'add_card' %}">payment information</a>.</p>
        </div>
    {% endif %}

    {% csrf_token %}
    <h1 class="h1_heading">You're donating $ <span id="top_amount"></span>  by credit card</h1>
    <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
        <h2>Your Gift *</h2>
        <hr/>

        <div class="donation_buttons">
            <div style="margin-left: 80px; margin-top: 8px;">
                <input id="25" class="amount_values" value="25" type="radio" name="payment" hidden/>
                <label for="25"><span>$25</span></label>
                <input id="50" class="amount_values" value="50" type="radio" name="payment" hidden/>
                <label for="50"><span>$50</span></label>
                <input id="100" class="amount_values" value="100" type="radio" name="payment" hidden/>
                <label for="100"><span>$100</span></label>
                <input id="500" class="amount_values" value="500" type="radio" name="payment" hidden/>
                <label for="500"><span>$500</span></label>
                <input id="1000" class="amount_values" value="1000" type="radio" name="payment" hidden/>
                <label for="1000"><span>$1000</span></label>
            </div>
        </div>

        <div class="select_amount">
            <div class="col-lg-2 input_label">
                <label for="id_amount">Other Amount:</label>
            </div>

            <div class="col-lg-10">
                {{ form.amount }}
            </div>

        </div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
        <h2>In Honor or Memory of</h2>
        <hr/>
        <div class="select_amount">
            {{ form.memory_of }}
            <label for="memory">
                <p>Make this donation in honor or memory of someone</p>
            </label>
            <div id="memory_types" style="display: none;">
                <p>type:</p>

                {{ form.memory_of_type }}

                <br/>

                <div class="col-lg-6">
                    {{ form.first_name_memory }}
                </div>
                <div class="col-lg-6">
                    {{ form.last_name_memory }}
                </div>
            </div>

            <div class="clearfix"></div>

            <hr/>

            <p>Please send notification of my gift to:</p>

            <div class="col-lg-6">
                {{ form.full_name_notification }}
                {{ form.from_notification }}
            </div>

            <div class="col-lg-6">
                {{ form.recipient_notification }}
            </div>

            {{ form.anonymous }}
            <label for="id_anonymous">DISPLAY MY NAME AS ANONYMOUS</label>
            <div class="clearfix"></div>

            <div class="col-lg-12">
                <p>Message:</p>
                {{ form.message_notification }}
            </div>
        </div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
        <h2>Monthly Gift</h2>
        <hr/>
        <div class="select_amount">
            <div class="col-lg-4">
                {{ form.monthly_gift }}
                <label for="id_monthly_gift">Make this a monthly gift</label>
            </div>
            <div class="col-lg-8">
                Your card will be charged monthly. You can change it in your personal cabinet.
            </div>

        </div>
    </div>
{% endblock %}
