{% extends 'base_donation.html' %}
{% block content %}
    {% if form.errors %}
        <p style="color: red">* Please fix errors bellow</p>
    {% endif %}
    <section>
        <div class="col-lg-10 donate_top">
            <h1>Join us in supporting Sikh National Archives of Canada</h1>
            <form action="{% url 'donate_extended' %}" method="POST" class="form-inline">
                <div class="donation_buttons">
                    <div style="margin-left: 40px;">

                        {% csrf_token %}
                        <input id="25" value="25" type="radio" name="payment" hidden/>
                        <label for="25"><span>$25</span></label>
                        <input id="50" value="50" type="radio" name="payment" hidden/>
                        <label for="50"><span>$50</span></label>
                        <input id="100" value="100" type="radio" name="payment" hidden/>
                        <label for="100"><span>$100</span></label>
                        <input id="500" value="500" type="radio" name="payment" hidden/>
                        <label for="500"><span>$500</span></label>
                        <input id="1000" value="1000" type="radio" name="payment" hidden/>
                        <label for="1000"><span>$1000</span></label>
                        <a class="other_donate" href="{% url 'donate_extended' %}">Other</a>
                    </div>
                </div>
                <div class="donation_buttons">
                    <div class="row">
                        <div class="col-lg-5 sbmt_button">
                            <a href="{% url 'donate_extended' %}">
                                <img src="{% static 'img/theme/donate_button.png' %}" alt=""/>
                            </a>
                        </div>
                        <div class="col-lg-5 sbmt_button">
                            <a href="{% url 'donate_paypal' %}">
                                <img src="{% static 'img/theme/donate_paypal.png' %}" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="addition_reqs">
                <div class="col-lg-6 checkers">
                    <input type="checkbox" name="checkers" id="honor"/>Make this donation in honor or memory of someone.
                </div>
                <div class="col-lg-5 checkers">
                    <input type="checkbox" name="checkers" id="monthly"/>Make this a monthly gift.
                </div>
            </div>
        </div>
    </section>
{% endblock %}


