{% extends 'base_donation.html' %}
{% load static %}
{% block content %}
    {% if form.errors %}
        <p style="color: red">* Please fix errors bellow</p>
    {% endif %}
    <section>
        <h1 class="h1_heading">Please Choose Payment Method</h1>
        <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
            <div class="payments_methods">
                <div class="col-lg-5" style="padding-top: 10px; padding-left: 110px;">
                    <a href="{% url 'donate_extended' %}">
                        <img src="{% static 'img/theme/cc-icons1.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-5 active">
                    <img src="{% static 'img/theme/paypal-icon.png' %}" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section>
        <form action="{% url 'donate_paypal' %}" method="post" id="donation_paypal_form">
            {% csrf_token %}
            <h1 class="h1_heading">You're donating $ <span id="top_amount"></span> via PayPal</h1>
            <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
                <h2>Your Gift *</h2>
                <hr/>
                <div class="donation_buttons">
                    <div style="margin-left: 80px; margin-top: 8px;">
                        <input id="25" class="amount_values" value="25" type="radio" name="payment" hidden/>
                        <label for="25"><span>$25</span></label>
                        <input id="50" class="amount_values" value="50" type="radio" name="payment" hidden/>
                        <label for="50"><span>$50</span></label>
                        <input id="100" class="amount_values" value="100" type="radio" name="payment" hidden/>
                        <label for="100"><span>$100</span></label>
                        <input id="500" class="amount_values" value="500" type="radio" name="payment" hidden/>
                        <label for="500"><span>$500</span></label>
                        <input id="1000" class="amount_values" value="1000" type="radio" name="payment" hidden/>
                        <label for="1000"><span>$1000</span></label>
                    </div>
                </div>

                <div class="select_amount">
                    <div class="col-lg-2 input_label">
                        <label for="id_amount">Other Amount:</label>
                    </div>

                    <div class="col-lg-10">
                        {{ form.amount }}
                    </div>

                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
                <h2>In Honor or Memory of</h2>
                <hr/>
                <div class="select_amount">
                    {{ form.memory_of }}
                    <label for="memory">
                        <p>Make this donation in honor or memory of someone</p>
                    </label>
                    <div id="memory_types" style="display: none;">
                        <p>type:</p>

                        {{ form.memory_of_type }}

                        <br/>

                        <div class="col-lg-6">
                            {{ form.first_name_memory }}
                        </div>
                        <div class="col-lg-6">
                            {{ form.last_name_memory }}
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <hr/>

                    <p>Please send notification of my gift to:</p>

                    <div class="col-lg-6">
                        {{ form.full_name_notification }}
                        {{ form.from_notification }}
                    </div>

                    <div class="col-lg-6">
                        {{ form.recipient_notification }}
                    </div>

                    {{ form.anonymous }}
                    <label for="id_anonymous">DISPLAY MY NAME AS ANONYMOUS</label>
                    <div class="clearfix"></div>

                    <div class="col-lg-12">
                        <p>Message:</p>
                        {{ form.message_notification }}
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
                <h2>Credit Card Information *</h2>
                <hr/>
                <div class="select_amount">
                    <div class="col-lg-6">
                        <small>{{ form.cc_first_name.errors.as_text }}</small>
                        {{ form.cc_first_name }}
                        <small>{{ form.cc_number.errors.as_text }}</small>
                        {{ form.cc_number }}
                        <small>{{ form.cc_code.errors.as_text }}</small>
                        {{ form.cc_code }}
                    </div>

                    <div class="col-lg-6">
                        <small>{{ form.cc_last_name.errors.as_text }}</small>
                        {{ form.cc_last_name }}
                        <div class="col-lg-2" style="margin-top: 15px;">
                            <p>Exp. Date:</p>
                        </div>
                        <small>{{ form.exp_date_month.errors.as_text }}</small>
                        <div class="col-lg-5" style="margin-top: 15px;">
                            {{ form.exp_date_month }}
                        </div>
                        <small>{{ form.exp_date_year.errors.as_text }}</small>
                        <div class="col-lg-5" style="margin-top: 15px;">
                            {{ form.exp_date_year }}
                        </div>

                        <p class="cc_info">What is this ?
                            <img src="{% static 'img/theme/cc_info.png'%}" alt=""/></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-10 col-md-1 col-sm-10 donate_top">
                <h2>Billing Information *</h2>
                <hr/>
                <div class="select_amount">
                    <div class="col-lg-6">
                        <small>{{ form.bill_street.errors.as_text }}</small>
                        {{ form.bill_street }}
                        <small>{{ form.bill_city.errors.as_text }}</small>
                        {{ form.bill_city }}
                        <small>{{ form.bill_zip.errors.as_text }}</small>
                        {{ form.bill_zip }}
                    </div>
                    <div class="col-lg-6">
                        <small>{{ form.bill_apt.errors.as_text }}</small>
                        {{ form.bill_apt }}
                        <small>{{ form.bill_state.errors.as_text }}</small>
                        {{ form.bill_state }}
                        <small>{{ form.bill_country.errors.as_text }}</small>
                        {{ form.bill_country }}
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
                <h2>Personal Information *</h2>
                <hr/>
                <div class="select_amount">
                    <div class="col-lg-6">
                        <small>{{ form.first_name.errors.as_text }}</small>
                        {{ form.first_name }}
                    </div>
                    <div class="col-lg-6">
                        <small>{{ form.last_name.errors.as_text }}</small>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="select_amount">
                    <div class="col-lg-6">
                        <small>{{ form.email.errors.as_text }}</small>
                        {{ form.email }}
                    </div>
                    <div class="col-lg-6">
                        <small>{{ form.phone.errors.as_text }}</small>
                        {{ form.phone }}
                    </div>
                </div>
                <div class="select_amount">
                    <div class="col-lg-6">
                        <small>{{ form.password1.errors.as_text }}</small>
                        {{ form.password1 }}
                    </div>
                    <div class="col-lg-6">
                        <small>{{ form.password2.errors.as_text }}</small>
                        {{ form.password2 }}
                    </div>
                </div>
            </div>


            <div class="col-lg-10 col-md-10 col-sm-10 donate_top">
                <h2>Monthly Gift</h2>
                <hr/>
                <div class="select_amount">
                    <div class="col-lg-4">
                        {{ form.monthly_gift }}
                        <label for="id_monthly_gift">Make this a monthly gift</label>
                    </div>
                    <div class="col-lg-8">
                        Your card will be charged monthly. You can change it in your personal cabinet.
                    </div>

                </div>
            </div>
{% endblock %}