{% extends 'base.html' %}
{% load mezzanine_tags %}
{% block meta_title %}Shelves{% endblock meta_title%}
{% block title %}Shelves{% endblock title%}
{% block main %}

    <div class="container">
        <div class="row">
            <h1>My book shelves</h1>
            {% if books %}
                <ul class="list-unstyled">
                {% for book in books %}
                    <li>{{ book }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <i>Create your owm shelf</i>
            {% endif %}
        </div>

        <div class="row" style="padding-top: 50px;">
            <form action="" method="post">
                {% csrf_token %}
                <label for="shelf_name">Enter a Shelf name</label>
                <input type="text" name="shelf_name" id="shelf_name"/>
                <input class="btn btn-success" type="submit"/>
            </form>
        </div>
    </div>

{% endblock main %}