body {
    background: #f6f6f6;
    font: normal 14px/14px Ubuntu;
    color: #575757;
}

hr {
    border: 0;
    height: 1px;
    background-color: #dddddd;
}



.clearfix {
  clear: both;
  width: 100%;
  height: 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

/* Top Menu */
.top_menu {
    background: #ffffff !important;
    padding-top: 10px;
}
    .logo_title {
        color: #31b77a;
    }
    .logo_title:hover {
        text-decoration: none;
        color: #51d89b;
    }
    .search_panel {
    }
        .search_panel input {
            border: 0 !important;
        }
        .search_panel input[type="submit"] {
            display: none;
        }
        /*.search_panel input[type="text"]:focus {*/
            /*outline: none !important;*/
        /*}*/

    .auth {
        margin-top: 10px;
    }
    .update_lnk {
        display: inline-block;
        border-right: 1px solid #dddddd;
        width: 60px;
        height: 35px;
        line-height: 35px;
        color: #32B77A;
        text-decoration: underline;
    }
        .update_lnk:hover{
            text-decoration: none;
            color: #32B77A;
        }
    .login_lnk {
        color: #32B77A;
        text-decoration: underline;
    }
        .login_lnk:hover {
            text-decoration: none;
            color: #32B77A;
        }

    .logout_lnk {
        margin-left: 15px;
        color: #B1B1B1;
        text-decoration: underline;
    }
        .logout_lnk:hover {
            text-decoration: none;
            color: #808080;
        }


    .reg_lnk {
        display: inline-block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        background: #32B77A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        color: #ffffff;
        margin-right: 5px;
    }
    .reg_lnk:hover{
        text-decoration: none;
        color: #ffffff;
        background: #51d89b;
    }

.main_content {
    margin-top: 50px;
}

/* Left side */
.left_side_menu {
}
    .left_side_menu h2 {
        text-transform: uppercase;
        color: #a5a5a5;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .left_side_menu ul li {
        list-style: none;
        margin-left: -25px;
    }

    .left_side_menu a {
        display: inline-block;
        width: 150px;
        height: 35px;
        text-decoration: none;
        color: inherit;
        padding-left: 10px;
        line-height: 35px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .left_side_menu a:hover {
        background: #e7e7e7;
        padding-left: 10px;
    }
    .left_side_menu img {
        margin-right: 5px;
    }

.center_content {
    margin-top: 20px;
}
    .center_content h1 {
        color: #6c6c6c;
        font-size: 21px;
        font-weight: normal;
    }
    .center_content .slider {
        width: 100%;
        max-height: 300px;
    }

.right_side_menu {

}
    .right_side_menu a {
        color: #32B77A;
        text-decoration: underline;
    }

    .right_side_menu h2 {
        text-transform: uppercase;
        color: #a5a5a5;
        font-size: 14px;
        font-weight: bold;
    }


.recent_scans {
    width: 2500px;
    position: relative;
}

#books_slide {
    width: 1215px;
    height: 380px;
    position: absolute;
    overflow: hidden;
}
    .single_book_slide {
        width: 127px;
        height: 192px;
        float: left;
        margin-right: 28px;
        margin-bottom: 10px;
    }
    .no_cover_title {
        font: normal 12px/12px Times;
        color: #ffffff;
        position: absolute;
        top: 30px;
        width: 110px;
        padding-left: 10px;
    }
        .no_cover_title a {
            text-decoration: none;
            color: #ffffff;
        }

        .detail {
            margin-top: -10px;
            margin-left: 80px;
        }

    .single_book_title {
        padding-left: 5px;
        font-weight: bold;
        font-size: 12px;
        color: #6c6c6c;
    }

.all_books {
    width: 100%;
    height: 230px;
}
    .single {
        float: left;
        width: 170px;
        margin-right: 15px;
        margin-bottom: 50px;
        height: 280px;
    }
    .all_books_title {
        font-size: 12px;
        color: #414141;
        width: 170px;
        font-weight: bold;
        padding-left: 5px;
        height: 50px;
    }
    .all_books_author {
        color: #9b9b9b;
    }
    .single img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 170px;
        height: 280px;
    }

    .single_no_cover_title {
        color: #ffffff;
        font: normal 12px/12px Times;
        position: relative;
        top: -200px;
        padding-left: 15px;
        width: 160px;
        text-align: center;
    }



.left_arrow, .right_arrow {
    color: #32B77A;
}

    .left_arrow:hover, .right_arrow:hover {
        cursor: pointer;
        color: #51d89b;
        text-decoration: none;
    }

    .left_arrow {
        position: absolute;
        top: 505px;
        left: -10px;
    }

    .right_arrow {
        position: absolute;
        top: 505px;
        right: -9px;
    }

.book_cover {
    margin-top: 18px;
}

    .book_cover p {
        position: absolute;
        color: #ffffff;
        width: 100px;
        left: 50px;
        top: 50px;
        font: normal 10px/10px Times;
    }

.book_cover_index {
    background: url("../img/cover-green.jpg") no-repeat;
    width: 127px;
    height: 192px;
    /*position: absolute;*/
}

.create_shelf {
    color: #ffffff !important;
    background: #32B77A;
    text-align: center;
}

    .create_shelf:hover {
        background: #51d89b !important;
    }

.favorite_book a {
    color: #32B77A;
    text-decoration: underline;
}
.favorite_book a:hover{
    text-decoration: none;
    color: #32B77A;
}

/* Small devices (tablets, 320px and up) */
@media (max-width: 468px) {
    #books_slide {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .recent_scans {
        position: relative;
        width: 100%;
    }
    .single_book_slide {
        margin-bottom: 16px;
    }
    .no_cover_title {
        position: relative;
        top: -160px;
    }

    .logo_title {
        font-size: 12px;
    }
    .reg_lnk {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        position: relative;
        bottom: 27px;
    }
    .login_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }

    .xs_or {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }
    .auth {
        margin-bottom: -20px;
    }
    .update_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
        border: 0;
    }

    .logout_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }
    .container-full {
        margin-top: 150px;
    }

/* fixed menu */
.top_menu {
    height: 150px;
}
}

.small_menu {
    position: absolute;
    top: -30px;
    right: 0;
}

.xs_menu {
    color: #32B77A;
    font-size: 20px;
    position: absolute;
    right: 0;
}
.xs_menu_items {
    margin-top: 30px;
}
.xs_menu_items a {
    color: #32B77A;
}



/* Small devices (tablets, 1024 and up) */
@media (max-width: 1024px) {

    .logo_title {
        font-size: 16px;
    }
    .reg_lnk {
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        bottom: 20px;
    }
    .login_lnk {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }

    .xs_or {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }
    .auth {
        margin-top: 30px;
    }
    .update_lnk {
        font-size: 14px;
        position: relative;
        bottom: 27px;
        border: 0;
    }

    .logout_lnk {
        font-size: 12px;
        position: relative;
        bottom: 27px;
    }

    #books_slide {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .recent_scans {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .no_cover_title {
        position: relative;
        top: -160px;
    }
    .single_book_slide {
        margin-right: 35px;
        margin-bottom: 20px;
    }

}
