@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.eot');
    src: url('../fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular.woff2') format('woff2'),
         url('../fonts/ubuntu-regular.woff') format('woff'),
         url('../fonts/Ubuntu-Regular.ttf') format('truetype'),
         url('../fonts/ubuntu-regular.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #f6f6f6;
    font: normal 14px/14px Ubuntu;
    color: #575757;
}

hr {
    border: 0;
    height: 1px;
    background-color: #dddddd;
}



.clearfix {
  clear: both;
  width: 100%;
  height: 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

/* Top Menu */
.top_menu {
    background: #ffffff !important;
    padding-top: 10px;
}
    .logo_title {
        color: #31b77a;
    }
    .logo_title:hover {
        text-decoration: none;
        color: #51d89b;
    }
    .search_panel {
    }
        .search_panel input {
            border: 0 !important;
        }
        .search_panel input[type="submit"] {
            display: none;
        }
        /*.search_panel input[type="text"]:focus {*/
            /*outline: none !important;*/
        /*}*/

    .auth {
        margin-top: 10px;
    }
    .update_lnk {
        display: inline-block;
        border-right: 1px solid #dddddd;
        width: 60px;
        height: 35px;
        line-height: 35px;
        color: #32B77A;
        text-decoration: underline;
    }
        .update_lnk:hover{
            text-decoration: none;
            color: #32B77A;
        }
    .login_lnk {
        color: #32B77A;
        text-decoration: underline;
    }
        .login_lnk:hover {
            text-decoration: none;
            color: #32B77A;
        }

    .logout_lnk {
        margin-left: 15px;
        color: #B1B1B1;
        text-decoration: underline;
    }
        .logout_lnk:hover {
            text-decoration: none;
            color: #808080;
        }


    .reg_lnk {
        display: inline-block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        background: #32B77A;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        color: #ffffff;
        margin-right: 5px;
    }
    .reg_lnk:hover{
        text-decoration: none;
        color: #ffffff;
        background: #51d89b;
    }

.main_content {
    margin-top: 50px;
}

/* Left side */
.left_side_menu {
}
    .left_side_menu h2 {
        text-transform: uppercase;
        color: #a5a5a5;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .left_side_menu ul li {
        list-style: none;
        margin-left: -25px;
    }

    .left_side_menu a {
        display: inline-block;
        width: 150px;
        height: 35px;
        text-decoration: none;
        color: inherit;
        padding-left: 10px;
        line-height: 35px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .left_side_menu a:hover {
        background: #e7e7e7;
        padding-left: 10px;
    }
    .left_side_menu img {
        margin-right: 5px;
    }

.center_content {
    margin-top: 20px;
}
    .center_content h1 {
        color: #6c6c6c;
        font-size: 21px;
        font-weight: normal;
    }
    .center_content .slider {
        width: 100%;
        max-height: 300px;
    }

.right_side_menu {

}
    .right_side_menu a {
        color: #32B77A;
        text-decoration: underline;
    }

    .right_side_menu h2 {
        text-transform: uppercase;
        color: #a5a5a5;
        font-size: 14px;
        font-weight: bold;
    }


.recent_scans {
    width: 2500px;
    position: relative;
}

.category {
    position: relative;
    height: 243px;
}

.single_book_category {
    width: 127px;
    height: 240px;
    float: left;
    margin-right: 28px;
    margin-bottom: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}
    .category_book_title {
        font-size: 12px;
        color: #575757;
        padding-left: 2px;
        overflow: hidden;
        height: 24px;
    }
    .category_book_creator {
        font-size: 12px;
        color: darkgray;
        padding-left: 2px;
        overflow: hidden;
        height: 24px;
    }
    .category_read_more {
        background: #1aa1e1;
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        width: 85px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .category_read_more:hover {
        background: #168bc2;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }


#books_slide {
    width: 1215px;
    height: 380px;
    position: absolute;
    overflow: hidden;
}
    .single_book_slide {
        width: 127px;
        height: 192px;
        float: left;
        margin-right: 28px;
        margin-bottom: 10px;
    }
    .no_cover_title {
        font: normal 12px/12px Times;
        color: #ffffff;
        position: absolute;
        top: 30px;
        width: 110px;
        padding-left: 10px;
    }
        .no_cover_title a {
            text-decoration: none;
            color: #ffffff;
        }

        .detail {
            margin-top: -10px;
            margin-left: 80px;
        }

    .single_book_title {
        padding-left: 5px;
        font-weight: bold;
        font-size: 12px;
        color: #6c6c6c;
    }

.all_books {
    width: 100%;
    height: 230px;
}
    .single {
        float: left;
        width: 170px;
        margin-right: 15px;
        margin-bottom: 50px;
        height: 280px;
    }
    .all_books_title {
        font-size: 12px;
        color: #414141;
        width: 170px;
        font-weight: bold;
        padding-left: 5px;
        height: 50px;
    }
    .all_books_author {
        color: #9b9b9b;
    }
    .single img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 170px;
        height: 280px;
    }

    .shelf {
        width: 170px;
        margin-right: 15px;
        margin-bottom: 50px;
        height: 280px;
    }

    .single_no_cover_title {
        color: #ffffff;
        font: normal 12px/12px Times;
        position: relative;
        top: -200px;
        padding-left: 15px;
        width: 160px;
        text-align: center;
    }



.left_arrow, .right_arrow {
    color: #32B77A;
}

    .left_arrow:hover, .right_arrow:hover {
        cursor: pointer;
        color: #51d89b;
        text-decoration: none;
    }

    .left_arrow {
        position: absolute;
        top: 505px;
        left: -10px;
    }

    .right_arrow {
        position: absolute;
        top: 505px;
        right: -9px;
    }

.book_cover {
    margin-top: 18px;
}

    .book_cover p {
        position: absolute;
        color: #ffffff;
        width: 100px;
        left: 50px;
        top: 50px;
        font: normal 10px/10px Times;
    }

.book_cover_index {
    background: url("../img/cover-green.jpg") no-repeat;
    width: 127px;
    height: 192px;
    /*position: absolute;*/
}

.create_shelf {
    color: #ffffff !important;
    background: #32B77A;
    text-align: center;
}

    .create_shelf:hover {
        background: #51d89b !important;
    }

.favorite_book a {
    color: #32B77A;
    text-decoration: underline;
}
.favorite_book a:hover{
    text-decoration: none;
    color: #32B77A;
}

 /*Small devices (tablets, 320px and up)*/
/*@media (max-width: 768px) {*/
    /*#books_slide {*/
        /*position: relative;*/
        /*overflow: visible;*/
        /*width: 100%;*/
        /*height: 100%;*/
    /*}*/
    /*.recent_scans {*/
        /*position: relative;*/
        /*width: 100%;*/
    /*}*/
    /*.single_book_slide {*/
        /*margin-bottom: 16px;*/
    /*}*/
    /*.no_cover_title {*/
        /*position: relative;*/
        /*top: -160px;*/
    /*}*/

    /*.logo_title {*/
        /*font-size: 12px;*/
    /*}*/
    /*.reg_lnk {*/
        /*height: 20px;*/
        /*font-size: 10px;*/
        /*line-height: 20px;*/
        /*position: relative;*/
        /*bottom: 27px;*/
    /*}*/
    /*.login_lnk {*/
        /*font-size: 10px;*/
        /*position: relative;*/
        /*bottom: 27px;*/
    /*}*/

    /*.xs_or {*/
        /*font-size: 10px;*/
        /*position: relative;*/
        /*bottom: 27px;*/
    /*}*/
    /*.auth {*/
        /*margin-bottom: -20px;*/
    /*}*/
    /*.update_lnk {*/
        /*font-size: 10px;*/
        /*position: relative;*/
        /*bottom: 27px;*/
        /*border: 0;*/
    /*}*/

    /*.logout_lnk {*/
        /*font-size: 10px;*/
        /*position: relative;*/
        /*bottom: 27px;*/
    /*}*/
    /*.container-full {*/
        /*margin-top: 150px;*/
    /*}*/

 /*fixed menu*/
/*.top_menu {*/
    /*height: 150px;*/
/*}*/
/*}*/

.small_menu {
    position: absolute;
    top: -30px;
    right: 0;
}

.xs_menu {
    color: #32B77A;
    font-size: 20px;
    position: absolute;
    right: 0;
}
.xs_menu_items {
    margin-top: 30px;
    background: #ffffff;
    width: 130px;
    padding-left: 10px;
}
.xs_menu_items a {
    color: #32B77A;
}



 /*Small devices (tablets, 1024 and up)*/
@media (min-width: 992px) and (max-width: 1200px)  {

    .logo_title {
        font-size: 16px;
    }
    .reg_lnk {
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        bottom: 20px;
    }
    .login_lnk {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }

    .xs_or {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }
    .auth {
        margin-top: 30px;
    }
    .update_lnk {
        font-size: 14px;
        position: relative;
        bottom: 20px;
        border: 0;
    }

    .logout_lnk {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }

    #books_slide {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .recent_scans {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .no_cover_title {
        position: relative;
        top: -160px;
    }
    .single_book_slide {
        margin-right: 35px;
        margin-bottom: 20px;
    }

}

@media (min-width: 0px) and (max-width: 768px)  {
     #books_slide {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
    }
    .recent_scans {
        position: relative;
        width: 100%;
    }
    .single_book_slide {
        margin-bottom: 16px;
    }
    .no_cover_title {
        position: relative;
        top: -160px;
    }

    .logo_title {
        font-size: 12px;
    }
    .reg_lnk {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        position: relative;
        bottom: 27px;
    }
    .login_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }

    .xs_or {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }
    .auth {
        margin-bottom: -20px;
    }
    .update_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
        border: 0;
    }

    .logout_lnk {
        font-size: 10px;
        position: relative;
        bottom: 27px;
    }
    .container-full {
        margin-top: 150px;
    }

}


.login_block {
    width: 728px;
    height:210px;
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.25);

}
    .login_block .social {
        width: 347px;
    }
    .login_block .header {
        font-weight: bold;
        margin-top: 10px;
        padding-left: 20px;
    }
    .login_block .float_left {
        float: left;
    }
    .login_block .divider {
        background: url("../img/login_or.png") no-repeat;
        width: 31px;
        height: 159px;
        margin-top: 25px;
    }


/* Facebook */
.login_buttons {
    margin-left: 65px;
    margin-top: 10px;
}

.login_buttons a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 7px;
    line-height: 38px;
}

.login_buttons a:hover {
    text-decoration: none;
}

.fb-icon-bg {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.fb-icon-bg:after {
  content: url('../img/fb-icon.png');
  display: block;
  /*padding: 9px 10px 5px 15px;*/
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 15px 41px;
	width: 166px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 3px;
    line-height: 40px;
}

.fb-bg a {
    color: #ffffff;
    text-decoration: none;
}

.fb-bg:after {
	color: #fff;
	/*content: "sign in with facebook";*/
	font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
	height: 37px;
	left: 3%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.fb-bg:hover{
  cursor: pointer;
    background: #354f88;
}

.fb-bg:active{
  background: #354f88;
}


/* Twitter */
.twi-icon-bg:after {
  content: url('../img/tw-icon.png');
  display: block;
  /*padding: 11px 10px 6px 11px;*/
}

.twi-icon-bg {
	background: #40a2d1;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.twi-bg {
	background: #45b0e3;
	height: 37px;
	margin: 0 0 15px 41px;
	width: 166px;
}

.twi-bg:after {
	color: #fff;
	/*content: "sign in with twitter";*/
	font-family: 'Ubuntu', sans-serif;
	height: 37px;
    font-size: 12px;
  left: 3%;
	position: relative;
  text-transform: uppercase;
	top: 22%;
  width: 41px;
}

.twi-bg:hover {
  cursor: pointer;
    background: #40a2d1;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
  content: url('../img/g-icon.png');
  display: block;
  /*padding: 11px 10px 6px 13px;*/
}

.g-icon-bg {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.g-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px;
}

.g-bg:after {
	color: #fff;
	/*content: "sign in with google+";*/
	font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
	height: 37px;
	left: 3%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.g-bg:hover {
  cursor: pointer;
    background: #ce3e26;
}

.g-bg:active {
  background: #ce3e26;
}

.login-form {
    height: 145px;
    /*border: 1px solid #000000;*/
    margin-left: 30px;
    width: 250px;
    margin-top: 10px;
}

.login-form input[type="text"], input[type="password"] {
    width: 210px;
    height: 25px;
    border: 1px solid lightgray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.login-create {
    margin-left: 30px;
}

.login-create a {
    color: #101010;
    text-decoration: none;
}
.login-create a:hover {
    text-decoration: underline;
}
.login-submit {
    width: 90px;
    height: 20px;
    background: #757583;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    margin-top: -5px;
    font-size: 12px;
    line-height: 20px;
}

.search_results {
    width: 80%;
    height: 100%;
}
    .search_results_pic {
        float: left;
        width: 10%;
        height: 100px;
        padding: 20px;
    }

    .search_results_title {
        float: left;
        width: 80%;
        height: 100px;
        padding: 30px;
        overflow: hidden;
        color: #000000;
    }
        .search_results_book {
            font-size: 18px;
            font-weight: bold;
        }
        .search_results_year {
            color: darkgray;
        }
    .search_results_read {
        float: left;
        width: 10%;
        height: 100px;
        padding: 30px;
    }

form .stars {
  background: url("../img/stars.png") repeat-x 0 0;
  width: 150px;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../img/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

.review {
    margin-bottom: 20px;
}

.reviews_headline {
    font-weight: bold;
    float: left;
    line-height: 20px;
}
.reviews_author {
    font-size: 13px;
    clear: both;
}

.stars_5 {
    width: 80px;
    height: 16px;
    background: url("../img/rating.png");
    float: left;
    margin-right: 10px;
}

.stars_4 {
    width: 80px;
    height: 16px;
    background: url("../img/rating.png") -17px;
    float: left;
    margin-right: 10px;
}

.stars_3 {
    width: 80px;
    height: 16px;
    background: url("../img/rating.png") -32px;
    float: left;
    margin-right: 10px;
}

.stars_2 {
    width: 80px;
    height: 16px;
    background: url("../img/rating.png") -49px;
    float: left;
    margin-right: 10px;
}

.stars_1 {
    width: 80px;
    height: 16px;
    background: url("../img/rating.png") -66px;
    float: left;
    margin-right: 10px;
}