{% extends 'base.html' %}
{% block meta_title %}Scan books{% endblock %}

{% block main %}
    <section class="add_book">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="book-title"><h1>Pending books:</h1></div>
                        {% for book in pending %}
                            <ul>
                            <li><a href="{% url 'bookrepo_detail' book_identifier=book.book.identifier %}">{{ book.book.title }}</a> (<span class="deep-blue-color">Added:</span> {{ book.modified }}) <span class="deep-blue-color">{{ book.book.num_pages }} pages to scan</span> </li>
                            </ul>
                            {% empty %}
                            There is no new books to import
                        {% endfor %}

                    <br/>
                    <br/>

                    <form action="." method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" id="import">Begin import</button>
                    </form>
                    <p class="working">Working...</p>
                    <br/>
                    <br/>
                <p><b id="pages">{{ response|default:'0'}}</b> pages imported so far</p>
                </div>
            </div>
        </div>

    </section>

    <script>
        $(document).ready(function(){
            $('#import').on('click', function(){
                $.ajax({
                    url: '/bookreader/add_book/?action=start_task',
                    dataType: 'json',
                    success: function(data){
                        setInterval(function(){
                            $.ajax({
                                url: '/bookreader/add_book/',
                                dataType: 'json',
                                success: function(data){
                                    $('#pages').text(data.response)
                                }})
                        }, 5000);
                        console.log(data);
                    }
                });
                $(this).hide();
                $('.working').show();
                return false
            })

        })
    </script>

{% endblock %}