{% extends 'clean.html' %}
{% block title %}Search inside our books{% endblock title %}
{#{% load i18n future mezzanine_tags %}#}
{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-field-inner">
                    <h2>Search a word or phrase inside books</h2>
                    <div class="search-filter-inner visible-lg visible-md">
                        <ul>
                            <li class="active-inner">ebooks</li>
                            <li>magazines</li>
                            <li>videos</li>
                            <li>audios</li>
                            <li>pictures</li>
                            <li>documents</li>
                            <li><a href="/search/">all</a></li>
                        </ul>
                    </div>
                    <div class="search-input-ebooks">
                        <form action="" method="get">
                            <input id="keyboard" name="q" type="search" placeholder="Search a word or phrase inside books"/>
                            <br/>
                            <input class="search-button-ebooks" type="submit" value="Search">
                        </form>
                    </div>
                    <div class="search-links hidden-xs">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container results-search-ebooks">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs results-text-ebooks">

                    {% for result in page.object_list %}
                        <div class="result-item-ebooks">
                            <span class="num">{{ result.object.num }}</span>
                            <a href="{{ result.object.get_in_book_url }}">{{ result.object.book.title }}</a>
                            <span class="creator">{{ result.object.book.creator }}</span>
                            <span class="published">{{ result.object.book.published }}</span>
                            <span class="book_ico"></span>
                        </div>
                        {% empty %}
                        <p style="text-align: center; line-height: 30px; padding: 0;">No results yet. Type your search text in the box above and click the search button</p>
                        <div style="width: 100%; height: 450px;"></div>
                    {% endfor %}
                </div>

                <div class="visible-xs results-text-ebooks">
                    {% for result in page.object_list %}
                        <div class="result-item-ebooks">
                            <span class="num">{{ result.object.num }}</span>
                            <a href="{{ result.object.get_in_book_url }}">{{ result.object.book.title }}</a>
                        </div>
                        {% empty %}
                        <p style="text-align: center; line-height: 30px; padding: 0;">No results yet. Type your search text in the box above and click the search button</p>
                        <div style="width: 100%; height: 450px;"></div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}

{% endblock main %}