{% extends 'base.html' %}
{% block title %}Search inside our books{% endblock title %}
{% block main %}
    <form method="get" action=".">
        <table>
            <tr>
                <th><label for="id_q">Search:</label></th>
                <td><input style="width: 40em;" id="id_q" name="q" type="search" placeholder="Within book words or phrase"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: right">
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolute_url }}">
                    {{ result.object.book.title }} (Page {{ result.object.num }})
                </a>
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        <h3>No results yet</h3>
        <p>Type your search text in the box above and click the search button.</p>
    {% endif %}
{% endblock main %}